<div class="unit span-grid">
	<h1>Admin</h1>
	<% @users.each do |u| %>
		<%= link_to u.name, user_path(u) %> - <%= u.current_weights.last[:weight] %> - <%= u.fitness_logs.count %><br>
	<% end %>
</div>
