<% flash.each do |key, value| %>
	<div class="flash <%= key %>"><%= value %></div>
<% end %>
<h2 class="unit span-grid">Fitness log</h2>
<div class="unit one-of-two card weight--card">
	<h2>Log</h2>
</div>
<div class="unit one-of-two card edit--card">
	<h2>Update</h2>
</div>