	<% if flash[:success] %>
  	<div class="success"><p><%= flash[:success] %></p></div>
	<% end %>
	<div class="card unit one-of-three weight--card">
		<h2><%=link_to "Weight", weight_user_path(current_user)%></h2>
		<div class="grid inner">
			<div class="unit one-of-two">
				<h3>Current Weight</h3>
				<p><%= @current_weight %> lbs</p>
			</div> <!-- weight inner left -->
			<div class="unit one-of-two">
				<h3>Goal Weight</h3>
				<% %>
				<p><%= @goal_weight %> lbs</p>
			</div> <!-- weight inner right -->
			<div class="unit span-grid graph">
				<canvas id="myChart" width="220" height="75"></canvas>
			</div> <!-- weight inner graph -->
		</div> <!-- weight inner grid -->
	</div> <!-- weight card -->
</div>