<% content_for :title, "Dashboard" %>
<h2>Weight</h2>
<div class="unit one-of-two card weight--card">
	<h2>Weight</h2>
	<div class="grid inner">
		<div class="unit one-of-two">
			<h3>Current Weight</h3>
			<p><%= @weight[:weight] %> lbs</p>
		</div>
		<div class="unit one-of-two">
			<h3>Goal Weight</h3>
			<p>170 lbs</p>
		</div>
	</div>
</div>
<div class="unit one-of-two card">
	<%= form_for :current_weight do |f| %>
		Current weight: <%= f.text_field :weight %>
		<%= f.submit "Update Current Weight" %>
	<% end %>
</div>