<div class="unit span-grid about">
	<h1>About</h1>
	<p><strong>recur</strong> was built form my finaly year project while at univeristy. I was tasked with creating a progress monitor application and I thought what a better thing to monitor than fitness?</p>
	<p>I've a very strong believer that everyone is entitled to a fit and healthy lifestyle. So I decided to help people achieve this lifestyle by creating this simple application. While moniotring your progess is not necessary to getting fit, it really helps. Because phyisical changes on your body can take a long time, people tend to think that it's not 'working'. What <strong>recur</strong> does is show you that it <strong>is</strong> actually working by showing you the numbers.</p>
	<h2>What about my calories?</h2>
	<p>Short answer: everyone is different.</p>
</div>