<div class="unit about span-grid">
	<h1>Contact</h1>
	<h2>The man behind the code</h2>
	<p><strong>Hi there.</strong>. I'm Danny Wilson. I built this here website.. using my own 8 fingers (and two thumbs).</p>
	<p>If you haven't read the <%= link_to("about page", about_path) %>, then you won't know why I built this application. In short, it was for my dissertation.</p>
	<h2>Find me</h2>
	<p>You can find me all over the web, for example <a href="http://twitter.com/wilsonand1">here I am on Twitter</a>, and <a href="http://github.com/wilsonand1">here I am on GitHub</a>, and <a href="http://danwilson.co">here's my website.</a></p>
</div>