/****************************************
*						$variables
*****************************************/
$blue: #5CA9DC;
$lightblue: #7EB7DC;
$bodyGray:#484848;
$linkGray:#444;
$hoverGray:#282828;

/****************************************
*						$Resets
*****************************************/
// Everything reset
*, :before, :after {
	margin: 0;
	padding: 0;
	-webkit-box-sizing: border-box;
		 -moz-box-sizing: border-box;
					box-sizing: border-box;
	position: relative;
}

// Oversized images
img {
	max-width: 100%;
}

// Shared
div, article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section,
p, .p, blockquote, table, form, ul, ol, img, .img,
h1, .alpha, h2, .beta, h3, .mega, .ultra {
	display: block;
	margin-bottom: 1.5rem;
}

// Remove this for hanging bullets
ul, ol {
	padding-left: 1.3em;
}

	// Restore some normality to our nested lists
	li > ul, li > ol {
		margin-bottom: 0;
	}

// Type
h1, .alpha {
	font-size: 3rem;
	line-height: 1.5;
}

h2, .beta {
	font-size: 2rem;
	line-height: 1.5;
}

h3 {
	font-size: 1.2rem;
	line-height: 1.3;
}

// Objects
nav, nav ul {
	padding-left: 0;
	list-style: none;
}

	nav li, nav a {
		display: inline-block;
	}

// Main
html {
	color:$bodyGray;
	font: 100%/1.5 helvetica, sans-serif;
	-webkit-font-smoothing: antialiased;
}
html, body {
	height: 100%;
	position: relative;
}
.page {
	position: relative;
	min-height: 100%;
	max-width: 960px;
	margin: 0 auto;
	padding: 0 30px;
	padding: 0 1.5rem;
}

/****************************************
*						$Grid
*****************************************/
.grid {
	margin-left: -3%;
	max-width: 105%;
	margin-bottom: 0;
}
.unit {
	display: inline-block;
	*display: inline;
	*zoom: 1;
	vertical-align: top;
	margin-left: 3%;
	margin-right: -.25em;
	/* Clearfix */
	overflow: hidden;
	*overflow: visible;
}
.span-grid {
	width: 97%;
}

.one-of-two { width: 47%; }

.one-of-three { width: 30.36%; }
.two-of-three { width: 63.666666666%; }

.one-of-four { width: 22.05%; }
.three-of-four { width: 72%; }

.one-of-five { width: 17.07%; }
.two-of-five { width: 37%; }
.three-of-five { width: 57%; }
.four-of-five { width: 77%; }

.one-of-six { width: 13.67%; }
.two-of-six { width: 30.34%; }
.three-of-six { width: 47.01%; }
.four-of-six { width: 63.68%; }
.five-of-six { width: 80.35%; }


@media screen and (max-width: 650px) {
	html {
		// font: 80%/1.2 helvetica, sans-serif;
	}
	.grid {
		margin-left: 0;
		max-width: none;
	}

	.unit {
		width: auto;
		margin-left: 0;
		display: block;
	}
}

/****************************************
*						$anchors
*****************************************/
a {
	color: $linkGray;
	text-decoration: none;
	-webkit-transition:all 0.2s ease-in-out;
	-moz-transition:all 0.2s ease-in-out;
	-o-transition:all 0.2s ease-in-out;
	-ms-transition:all 0.2s ease-in-out;
	transition:all 0.2s ease-in-out;
}
a:visited {
	color: $linkGray;
}
a:hover {
	color:$hoverGray;
	text-decoration: none;
}

/****************************************
*						$header
*****************************************/
header {
	z-index: 999;
	position: absolute;
	width: 100%;
	top:0;
	left: 0;
	height: 100px;
	background-color: $blue;
	}
	h1 {
			font-weight: 100;
			display: inline-block;
			line-height: 100px;
	}
	nav {
		font-size:1.5rem;
		position: absolute;
		bottom:0;
		right:0;
		display: inline-block;
		ul {
			margin: 0;
			li {
				padding:0 1em;
				.burger-icon {
					height:40px;
					margin-bottom: 0;
					vertical-align: bottom;
					display: none;
				}
				.submenu {
					display: none;
					position: absolute;
					top: 100%;
					li {
						margin: 0;
						padding: 0;
					}
					a{
						display: block;
						background-color: $blue;
						width: 146px;
						border-top: 1px solid gray;
					}
				}
			}
			li:hover > .submenu {
				display: block;
			}
		}
	}
@media all and (max-width: 500px) {
	header {
		height: auto;
		h1 {
			display: block;
			text-align: center;
			height: auto;
			line-height: 1;
			margin-top: 10px;
		}
		nav {
			text-align: center;
			position: relative;
			display: block;
			margin-bottom: 0;
			ul {
				li {
					display: block;
					padding: 0 0.5em;
				}
				.burger-icon {
					display: block;
					cursor: pointer;
					margin: 0 auto;
				}
				.mobile {
					display: none;
				}
				.submenu {
					margin: 0;
					display: block;
					position: relative;
					top: 0;
					a {
						width: 100%;
						border: 0;
					}
					.mobile {
						display: none;
					}
				}
			}
		}
	}
}

/****************************************
*						$footer
*****************************************/
footer {
	padding:0;
	bottom:0;
	left:0;
	width:100%;
	text-align: right;
	padding:1.3em;
	margin-bottom: 0;
	border-top: 1px solid #ccc;
}

/****************************************
*						$content
*****************************************/
.content {
	padding-top: 150px;
}
form {
	width: 400px;
	margin: 0 auto;
}

/****************************************
*						$cards
*****************************************/
.card {
	text-align: center;
	height:250px;
	overflow: hidden;
	background-color: $lightblue;
	h2 {
		padding:.3em 0;
		font-weight: 100;
	}
	h3 {
		margin-bottom: 0;
	}
	a:hover {
		text-decoration: underline;
	}
}
.inner {
	p {
		margin-bottom: 0;
	}
	form {
		width: 90%;
		margin: 0 auto;
		input{
			font-size: 16px;
		}
	}
}
.weight--card {
		.graph {
			margin-bottom: 0;
		}
}

.date--card {
	h2 {
		margin-bottom: 0;
		padding-bottom: 0;
	}
	h3 {
		margin-bottom: 1.5em;
	}
	p {
		width:80%;
		margin: 0 auto;
	}
}

.goals--card {
	overflow: auto;
	ul {
		text-align: left;
		list-style-type: none;
		padding:0 1rem;
		li {
			padding:0.3rem;
			background-color: rgba(0,0,0,0.1);
			input[type="checkbox"] {
				right:0;
				width: 13px;
				height: 13px;
				position: relative;
				top: -1px;
				*overflow: hidden;
			}
			input[type="checkbox"]:checked + label{
				color:red;
				text-decoration:line-through;
			}
		}
		li + li {
			border-top: 1px solid #eee;
		}
	}
}

.log--card {
	height: auto;
	// display: block;
	// margin: 0 auto 1.5rem auto;
	padding: 0 1rem;
	padding-bottom: 1rem;
	.date {
		font-weight: 600;
		margin-bottom: 0;
	}
	p, ul {
		text-align: left;
	}
	#fitness_log_type {
		width: 100%;
		padding: 5px;
		font-size: 16px;
		line-height: 1;
		border: 0;
		border-radius: 0;
		height: 34px;
		text-align: center;
		margin-bottom: 1.5em;
	}
}

@media screen and (max-width: 650px) {
	.card {
		height:auto;
	}
	form {
		width: 80%;
	}
}

/****************************************
*						$flashs
*****************************************/
.success, .error {
	text-align: center;
	color:#eee;
	padding:0.3em 0;
	font-size: 22px;
	p {
		margin-bottom: 0;
	}
}
.success {
	background-color: rgba(0,200,0,0.7);
}
.error {
	background-color:rgba(255,0,0,0.7);
}

/****************************************
*						$forms
*****************************************/
input[type="radio"] {
	display: inline-block;
}
.general--input {
	font-size: 22px;
	font-weight: 100;
	padding:0.5em 0;
	margin-bottom: 20px;
	text-align: center;
	display: block;
	width:100%;
	border: 1px solid #484848;
}

.submit--button {
	font-size: 22px;
	font-weight: 100;
	width:100%;
	padding:0.5em 0;
	background-color: #444;
	color:#fff;
	border: 0 none;
	margin-bottom: 1.5em;
}
.submit--button:hover {
	background-color:$blue;
	color: #fff;
}

/****************************************
*						$main
*****************************************/
.main {
	text-align: center;
	h1 {
		font-weight: 500;
		font-size: 90px;
		margin-bottom: 0;
	}
	.tag--line {
		font-weight: 100;
		font-size: 30px;
	}
	.center {
		text-align: center;
	}
	.button {
		display: inline-block;
		text-align: center;
		text-decoration: none;
		font-size: 30px;
		padding:0.5em 1em;
		border: 3px solid #484848;
		color:#484848;
		margin:0 50px;
		-webkit-transition:all 0.2s;
		-moz-transition:all 0.2s;
		-o-transition:all 0.2s;
		-ms-transition:all 0.2s;
		transition:all 0.2s;
	}
	.button:hover {
		background-color:$blue;
		border: 3px solid $blue;
	}

	.form {
		input {
			width:100%;
			-webkit-transition:all 0.2s;
			-moz-transition:all 0.2s;
			-o-transition:all 0.2s;
			-ms-transition:all 0.2s;
			transition:all 0.2s;
		}
		h2 {
			font-weight: 200;
			font-size: 40px;
		}
		input[type="radio"] {
			width: auto;
			display: inline-block;
		}
		p{
			display: inline-block;
			font-weight: 200;
			font-size: 20px;
		}
		p+p {
			margin-left: 1.5em;
		}
	}
}
@media screen and (max-width: 650px) {
	.main {
		.button {
			margin-bottom: 1.5em;
		}
	}
}

/****************************************
*						$home
*****************************************/
.home {
	padding: 1em;
	p {
		font-size: 30px;
		font-weight: 100;
		margin-bottom: 0;
	}
	ul {
		font-weight: 900;
		font-size: 40px;
		padding-left: 0;
		list-style: none;
		li {
			display: inline-block;
			width:32%
		}
	}
	img {
		width: 100%;
		margin-bottom: 0;
	}
}

.blue {
	background-color: $blue;
	color:#fff;
}
.white {
	color:$blue;
}
@media all and (max-width: 650px) {
	.home {
		ul li {
			display: block;
			width: 100%;
		}
	}
}
@media all and (max-width: 500px) {
	.home {
		h1 {
			font-size:50px;
			line-height: 50px;
		}
	}
	.about {
		h1 {
			font-size: 75px;
		}
	}
}

/****************************************
*						$about
*****************************************/
.about {
	p {
		text-align: left;
		font-size: 22px;
	}
	a {
		text-decoration: underline;
	}
}