<!DOCTYPE html>
<html>
<head>
  <title>Fitness</title>
  <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
  <%= csrf_meta_tags %>
</head>
<body>
	<header>
		<div class="page">
			<h1>Fitness</h1>
			<nav>
				<ul>
					<a href="#">
						<li>Home</li>
					</a>
					<a href="#">
						<li>About</li>
					</a>
					<a href="#">
						<li>Contact</li>
					</a>
				</ul>
			</nav> <!-- nav -->
		<div/> <!-- page -->
	</header> <!-- header -->
		<div class="page content">
			<div class="grid">
				<%= yield %>
			</div>
		</div>
</body>
</html>
